---
layout: blog
category: blog
subCategory: index
title: Blog
---
<%
var allArticles = [];
for (item of collections.all) {
    if (item.data.category == 'blog' && item.url != '/blog/') {
        allArticles.push(item);
    }
}
allArticles.sort(function(a, b) {
    var timeA = a.date.getTime();
    var timeB = b.date.getTime();
    if (timeA > timeB)
        return -1;
    if (timeA < timeB)
        return 1;
    return 0;
});
var articleMenus = [];
for (item of allArticles) {
    var aMenu = item.data.menu;
    if (aMenu && articleMenus.indexOf(aMenu) == -1) {
        articleMenus.push(aMenu);
    }
}
%>
<h1>Blog</h1>

This section has articles that share development details and progress about Ceramic and anything related to it, like community activity around the tech etc...

<% for (aMenu of articleMenus) { %>
<h2><%= aMenu %></h2>
<div class="blog-cards">
    <%
    for (item of allArticles) {
        if (item.data.category == 'blog' && item.url != '/blog/' && item.data.menu == aMenu) {
    %>
    <a href="<%= item.url %>" class="blog-card">
        <div class="blog-card-image">
            <img src="<%= item.data.image %>" alt="<%= item.data.title %>" />
        </div>
        <div class="blog-card-content">
            <div class="blog-card-date"><%= item.date.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %></div>
            <div class="blog-card-title"><%= item.data.title %></div>
            <% if (item.data.description) { %>
            <div class="blog-card-description"><%= item.data.description %></div>
            <% } %>
        </div>
    </a>
    <%
        }
    }
    %>
</div>
<% } %>
