<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">if (location.protocol !== 'https:' && location.hostname == 'ceramic-engine.com') location.replace('https:'+location.href.substring(location.protocol.length));</script>
        <meta charset="utf-8">
        <link rel="icon" href="/static/favicon.png"/>
        <link rel="apple-touch-icon" href="/static/touch-icon.png"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title><%= title %> - Ceramic</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <link rel="stylesheet" href="/static/prism.css" type="text/css" />
        <script type="text/javascript" src="/static/script.js"></script>
        <meta property="og:site_name" content="Ceramic Engine" />
        <meta property="og:title" content="<%= title %> - Ceramic" />
        <meta property="og:description" content="<%= typeof description != 'undefined' ? description : 'A cross-platform & open-source 2D framework' %>" />
        <%
        var imageMeta = (typeof image != 'undefined' ? image : null);
        var imageInfo = null;
        var imageRealPath = null;
        const defaultImage = '/static/img/ceramic-800-450.png';
        if (imageMeta == null) {
            if (typeof sample != 'undefined' && typeof thumbnail != 'undefined') {
                if (thumbnail.startsWith('http')) {
                    //
                }
                else {
                    imageMeta = '/ceramic-samples/' + sample + '/' + thumbnail;
                    imageRealPath = '../_samples/' + sample + '/' + thumbnail;
                }
            }
            else if (typeof sample != 'undefined') {
                imageMeta = '/ceramic-samples/' + sample + '/thumbnail.png';
                imageRealPath = '../_samples/' + sample + '/thumbnail.png';
            }
        }
        if (imageMeta == null)
            imageMeta = defaultImage;
        if (imageInfo == null) {
            const sizeOf = js.require('image-size');
            const path = js.require('path');
            imageInfo = sizeOf(path.join('content', (imageRealPath != null ? imageRealPath : imageMeta)));
        }
        %><meta property="og:image" content="<%- imageMeta %>" />
        <meta property="og:image:type" content="image/<%- imageInfo.type %>" />
        <meta property="og:image:width" content="<%- imageInfo.width %>" />
        <meta property="og:image:height" content="<%- imageInfo.height %>" />
        <%
        image = null; imageRealPath = null;
        %>
    </head>
    <body id="page-<%= category %>" class="page<%- category != 'home' ? ' page-standard' : '' %>">
        <aside id="site-navigation">
            <ul>
                <li<%- category == 'home' ? ' class="selected"' : '' %>><a href="/"><img src="/static/ceramic-small.png" class="ceramic-icon" />Ceramic</a></li>
                <li<%- category == 'guides' ? ' class="selected"' : '' %>><a href="/guides">Guides</a></li>
                <li<%- category == 'examples' ? ' class="selected"' : '' %>><a href="/examples">Examples</a></li>
                <li<%- category == 'blog' ? ' class="selected"' : '' %>><a href="/blog">Blog</a></li>
                <li><a href="/api-docs">API Docs</a></li>
                <li><a href="https://github.com/ceramic-engine/ceramic">GitHub</a></li>
                <li<%- category == 'discord' ? ' class="selected"' : '' %>><a href="/discord">Discord</a></li>
            </ul>
        </aside>
        <%- content %>
    </body>
</html>